@import url('root.css'); 

header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-primary);
    padding:5px;
    min-height: 5%;
    height: 15%;
    position: relative;
}

.logo{
    height: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(0) saturate(0);
}

.desplegable-container{
    margin-left: 5px;
}
