@import url('root.css'); 

.list-item{
    list-style-type: none;
    background-color: var(--main-color);
    min-height: 300px;
    width: fit-content;
    height: max-content;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid;
    border-color: var(--color-primary);
}

.list-item, .title-li{
    color: var(--color-secundary);
}

img{
    max-width: 100%;
}