@import url('root.css'); 

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
    width: 30vw;
    height: 100vh;
    margin: 0;
    background-color: var(--color-primary);
}

.btn-cancel{
    margin: 15px;
    margin-bottom: 0px;
    align-self: flex-end;
}

.lista{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista li{
    margin: 35px;
}

a{
    text-decoration: none;
    color: black;
}

.capa-outside{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:999;
}

@media screen and (min-width: 1100px) {
    nav {
        width: 20vw;
    }
}