.ul{
    display: grid;
    margin: 10px 0;
    padding: 0px;
    height: 90%;
    width: 100%;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.ul li{
  height:100%; 
}

/* Small */
@media screen and (max-width: 768px) {
    .ul {
      grid-template-columns: repeat(2, 1fr); 
    }
}

/* Medium */
@media screen and (min-width: 768px) and (max-width: 950px) {
    .ul {
      grid-template-columns: repeat(3, 1fr); 
    }

    .ul li{
      height:80%;     
    }
}

/* Large */
@media screen and (min-width: 950px) and (max-width:1200px){
    .ul {
      grid-template-columns: repeat(4, 1fr); 
    }

    .ul li{
      height:80%;     
    }
}

/* Extra large */
@media screen and (min-width:1200px){
    .ul {
      grid-template-columns: repeat(5, 1fr); 
    }
}